:root,
.btn-theme[theme="none"] {
    --text-color: rgb(39, 39, 39);
    --background-panels: #bbbbbb;
    --background-body: #f2f2f3;
    --meta-color: #545454;
    --character-item-hover: #0000001a;
    --character-item-active: #00000036;
}
body {
    position: relative;
    padding-top: 60px;
    background-color: var(--background-body);
}
body.green-theme,
.btn-theme[theme="green-theme"] {
    --text-color: rgb(39, 39, 39);
    --background-panels: hsl(159, 28%, 78%);
    --background-body: #dce5e2;
}
body.light-sephia-theme,
.btn-theme[theme="light-sephia-theme"] {
    --text-color: rgb(39, 39, 39);
    --background-panels: hsl(45, 44.4%, 85.9%);
    --background-body: #f5f1e5;
}
body.sephia-theme,
.btn-theme[theme="sephia-theme"] {
    --text-color: rgb(39, 39, 39);
    --background-panels: hsl(42, 58.1%, 68.7%);
    --background-body:  #e5cf9d;
    
}
body.light-dark-theme,
.btn-theme[theme="light-dark-theme"] {
    --text-color: #dbdbdb;
    --background-panels: hsl(223, 9.5%, 22%);
    --background-body: #434751;
    --btn-invincible-color: #ffffff1f;
}
body.dark-theme,
.btn-theme[theme="dark-theme"] {
    --text-color: #dddddd;
    --background-panels: #1c1c1e;
    --background-body: #141414;
    --light-gray-color: #1c1c1e;
    --input-background-color: #0d0d0d;
}
body.dark-theme,
body.light-dark-theme {
    --meta-color: #a2a2a2;
    --btn-invincible-color: #ffffff1f;
    --character-item-hover: #ffffff29;
    --character-item-active: #ffffff61;
    --light-gray-color: #1c1c1e;
    --input-background-color: #0d0d0d;
}
@keyframes scrolled-anim-end {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        display: none;
    }
}
.header-chapter {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
}
.chapter-control {
    position: fixed;
    display: flex;
    background: var(--background-panels);
    bottom: 10px;
    left: 50%;

    border-radius: 5px;
    overflow: hidden;
    transform: translate(-50%);
}
.chapter-control .btn {
    font-size: 16px;
    text-wrap: nowrap;
}

.header-chapter, 
.chapter-control {
    -webkit-box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -4px rgba(0,0,0,0.75);
    z-index: 100;
}

body.scrolled .header-chapter {
    animation: scrolled-anim-end 0.15s forwards;
}
body.scrolled .chapter-control {
    animation: scrolled-anim-end 0.15s forwards;
}
.chapter-control .table-of-contents-btn span {
    display: block;
}
.chapter-control .table-of-contents-btn span:last-child {
    font-weight: 400;
}
.chapter-control .btn:not(.table-of-contents-btn) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-chapter .control-btns {
    display: flex;
}
.header-title {
    display: flex;
    align-items: center;
}
.header-title i {
    margin-right: 5px;
}
.header-chapter {
    background: var(--background-panels);
}
.btn.header-btn,
.btn.header-btn,
.btn.header-btn  {
    background: transparent;
    color: var(--text-color) !important;
}
.btn.header-btn:hover,
.btn.header-btn:hover,
.btn.header-btn:hover  {
    color: #fff !important;
}
.article-image {
    margin-bottom: 19px;
}
.chapter-panel {
    max-width: 376px;
    margin: 0 0 0 auto;
    padding: 10px;
    height: 100vh;
    background: var(--background-panels);
}
.chapter-settings__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.chapter-settings__header .title {
    font-size: 18px;
    font-weight: 500;
}
#chapter-settings .themes {
    display: flex;
    margin-bottom: 10px;
}
#chapter-settings .name-option {
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
}
#chapter-settings .field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#chapter-settings .control {
    display: flex;
    align-items: center;
}
#chapter-settings .field span {
    width: 32px;
    text-align: center;
}
.btn-theme {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: var(--text-color);
    
    background-color: var(--background-body);

    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}
.chapter-list {
    overflow-y: auto;
    height: calc(100% - 55px);
}
.chapter-list .chapter {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    line-height: 1.3;
    padding: 10px 5px;
    border-radius: 3px;
}
.chapter-list .chapter.active {
    background-color: var(--character-item-active);
}
.chapter-team__info,
.chapter-text {
    color: var(--text-color);
    max-width: 924px;
    margin: 0 auto;
    padding: 0 10px;
    user-select: none;
}
.chapter-text:not(.chapter-text__limit) {
    display: none;
}
/* Text chapter format */
.chapter-text ul {
    margin-left: 20px;
}
.chapter-text button {
    display: none;
}

.chapter-list .chapter:hover {
    color: var(--text-color) !important;
    background-color: var(--character-item-hover);
}
.split {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--background-panels);
    margin: 15px 0;
    
}
.split::after {
    content: 'END';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    background: var(--background-panels);
    padding: 2px 20px;
    border-radius: 5px
}
.comments-section h2 {
    margin-bottom: 10px;
}
.pagination {
    display: flex;
    justify-content: space-between;
}
.pagination .btn {
    width: 140px;
}
.chapter-comments {
    margin-bottom: 80px;
}
.chapter-comments .comments-section {
    font-size: 18px;
    max-width: 924px;
    margin: 0 auto;
    padding: 10px 5px;
    padding-top: 25px;
}
.chapter-info-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.chapter-info-end .buttons > * {
    font-size: 18px;
    margin: 3px;
}
.chapter-info-end .buttons > *.active i {
    color: #ff0d0d;
}
.chapter-info-end .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.chapter-text__limit {
    position: relative;
}
.chapter-text__limit::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, var(--background-body) 0%, rgba(255,255,255,0) 100%);
}
.chapter-text img {
    max-width: 100% !important;
    height: auto !important;
}
.chapter_team {
    margin-bottom: 20px;
}
.team {
    color: var(--text-color);
    display: flex;
    margin-bottom: 5px;
    text-decoration: none;
    
}
.team .image {
    width: 64px;
    height: 64px;
    margin-right: 8px;
}
.team span {
    font-size: 13px;
}
.team .name {
    font-weight: 500;
}
@keyframes bookmark-ph-anim {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}
.bookmark-ph-process .bookmark-paragraph i {
    animation: bookmark-ph-anim 0.5s infinite alternate;
}
.bookmark-ph-alert {
    display: none;
    z-index: 5;
}
.bookmark-ph-process .chapter-content p {
    cursor: pointer;
}
.bookmark-ph-process .bookmark-ph-alert {
    display: block;
}
.bookmark-ph-alert {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    background: #fff;
    border: 1px solid var(--background-panels);
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.75);
}
.bookmark-p {
    position: relative;
    padding-top: 20px;
}
.bookmark-p::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 4px;
    border-radius: 5px;
    width: 100%;
    background: #f00;
}
.bookmark-p::after {
    content: 'Bookmark';
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    
    color: #fff;
    background: #f00;

    border-radius: 5px;
    font-size: 14px;
    padding: 2px 10px;
}

@media only screen and (max-width: 768px) {
    .header-btn {
    padding: 10px;
    }
}
@media only screen and (max-width: 500px) {
}